<tr id="<%= dom_id(@item) %>" data-list-target="tr" data-controller="<% if load_more? %>load-more<% end %>">
  <td class="list-index-col"><small class="text-muted" data-list-target="number" data-list-id-value="<%= dom_id(@item) %>"><%= number %></small></td>

  <% @view.fields.published.each do |field| %>
    <td class="<%= class_names("list-images-col": field.images?) %>">
      <% if field.images? %>
        <div data-controller="enlarge">
          <%= render View::MicroCarouselComponent.with_collection(@item.images) %>
        </div>
      <% elsif field.multiple_select? && @item.data[field.key].present? %>
        <% @item.data[field.key].each do |text| %>
          <span class="badge rounded-pill bg-<%= MultipleSelect.color(text) %>-100 text-dark fw-normal fs-6"><%= text %></span>
        <% end %>
      <% elsif field.key == "item_title" %>
        <%= link_to @item, class: "me-1", data: {turbo_frame: "_top"} do %>
          <i class="bi bi-box-arrow-up-left me-2"></i><%= @item.data[field.key] %>
        <% end %>
      <% elsif field.key == "set_title" && controller_name != "item_sets" %>
        <%= render Set::LinkComponent.new(item_set: @item.item_set) %>
      <% else %>
        <%= @item.data[field.key] %>
      <% end %>
    </td>
  <% end %>
</tr>
