<div class="row mb-2 filter-row" data-controller="filter">
  <div class="col-1 pt-1">
    <small class="form-label" data-filter-target="label">
      <% if filter.position == 1 %>
        Where
      <% else %>
        and
      <% end %>
    </small>
  </div>
  <div class="col-11 d-flex">
    <%= form_for filter_shallow_args(filter, view), data: { filter_target: "form" }, html: { class: "w-100" } do |form| %>
      <%= form.hidden_field :view_id, value: view.id %>
      <%= form.hidden_field :uuid %>
      <%= form.hidden_field :position %>
      <div class="row g-0">
        <div class="col-6">
          <div class="input-group pe-1">
            <%= form.collection_select :field_id,
                                       Field.all_cached,
                                       :id,
                                       :title,
                                       {},
                                       {
                                         data: { action: "filter#reload", },
                                         class: "form-select form-select-sm"
                                       } %>
            <%= form.select :operator,
                            filter.field.operators.collect { |op| [op, op] },
                            {},
                            {
                              data: { action: "filter#reload", },
                              class: "form-select form-select-sm"
                            } %>
          </div>
        </div>
        <div class="col-6">
          <% if filter.value_not_needed? %>
            <%= form.text_field :value,
                                value: "",
                                class: "form-control form-control-sm",
                                placeholder: "",
                                disabled: true %>
          <% elsif filter.field.date? %>
            <%= form.text_field :value,
                                class: "form-control form-control-sm",
                                placeholder: "Choose a date",
                                data: {
                                  "controller": "datepicker",
                                  "datepicker-format-value": filter.field.bs5_date_format,
                                  "action": "input->filter#save"
                                } %>
          <% elsif filter.field.single_select? %>
            <%= form.select :value,
                            options_for_select(filter.field.single_select_data, filter.value),
                            {},
                            {
                              data: { controller: "filter-single-select", action: "change->filter#save" },
                              class: "form-select form-select-sm"
                            } %>
          <% elsif filter.field.multiple_select? %>
            <div data-controller="filter-multiple-select">
              <%= form.select :values,
                              options_for_select(filter.field.multiple_select_data, filter.values),
                              {},
                              {
                                multiple: true,
                                data: { filter_multiple_select_target: "values" },
                                class: "form-control form-control-sm"
                              } %>
              <%= form.hidden_field :value, data: { filter_multiple_select_target: "value", action: "change->filter#save" } %>
            </div>
          <% else %>
            <%= form.text_field :value,
                                class: "form-control form-control-sm",
                                data: { action: "input->filter#save" },
                                placeholder: "Enter a value" %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= button_to destroy_by_uuid_editor_view_filters_path(view_id: view.id, uuid: filter.uuid),
                  method: :delete,
                  class: "btn btn-sm btn-link muted-link shadow-none",
                  data: { turbo_frame: "filter_operations" } do %>
      <i class="bi bi-trash"></i>
    <% end %>
  </div>
</div>
