<div class="p-0" data-controller="image-list">
  <% item.images.each do |image| %>
    <div class="card p-0 mb-2" style="width: 160px;" id="<%= dom_id(image) %>">
      <div class="card-body py-3 px-0">
        <div class="row">
          <div class="col">
            <div class="d-inline-block ms-1 align-items-center">
              <button type="button" class="btn btn-link px-0 m-0 text-muted no-box-shadow handle">
                <%= render "svgs/bi-grip-vertical" %>
              </button>
            </div>
            <div class="d-inline-block me-2 align-items-center">
              <span class="font-monospaced text-muted"><small><%= image.position %></small></span>
            </div>
            <div class="d-inline-block m-0 align-items-center">
              <%= image_tag url_for(image.file.variant(:small)),
                            srcset: srcset(image, :small_retina, :small),
                            sizes: "#{image.width(:small)}px",
                            width: image.width(:small),
                            height: image.height(:small),
                            class: "border",
                            loading: "lazy",
                            alt: "Image #{position}" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="text-center mt-2">
              <%= link_to "", class: "d-inline-block text-muted me-2" do %>
                <small><%= render "svgs/bi-crop" %><span class="ms-1">Adjust</span></small>
              <% end %>
              <%= link_to "", class: "d-inline-block text-muted" do %>
                <small><%= render "svgs/bi-trash" %><span class="">Delete</span></small>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
