<div class="col">
  <%= turbo_frame_tag "edit_item" do %>
    <%= form_for(@item, url: editor_item_path(@item.id)) do |form| %>
      <div class="<%= class_names("row", "p-3", "flash-green": local_variables.include?(:flash_green)) %>">
        <% Field.all_cached.each do |field| %>
          <%= render field.column_type_sym.to_s, { form: form, field: field, item: @item } %>
          <% if field.divider %>
            <div class="col-12"><hr class="my-3"></div>
          <% end %>
        <% end %>

        <div class="col-12">
          <%= form.submit "Save",
                          class: "btn btn-block btn-primary",
                          data: { bs_dismiss: "offcanvas" } %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


