<%= turbo_frame_tag "edit_item_frame" do %>
  <div class="row">
    <div class="col-10">
      <%= form_for(@item, url: editor_item_path(@item.id)) do |form| %>
        <div class="<%= class_names("row", "p-3", "flash-green": local_variables.include?(:flash_green)) %>">
          <% Field.all_cached.each do |field| %>
            <%= render "editor/items/fields/#{field.column_type_sym}", { form: form, field: field, item: @item } %>
            <% if field.divider %>
              <div class="col-12">
                <hr class="my-3">
              </div>
            <% end %>
          <% end %>

          <div class="col-12">
            <%= form.submit "Save", class: "btn btn-block btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-2">
      <div class="row p-3" data-controller="upload">
        <div class="m-0 p-0">
          <label class="form-label me-1">Images</label>
          <%= form_for(Image.new, url: editor_images_path, method: :post, html: {class: "d-inline-block"}) do |form| %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= form.hidden_field :item_id, value: @item.id %>
            <span class="upload-span">
              <%= render "svgs/bi-upload" %>
              <%= form.file_field :files, multiple: true, class: "upload-input", data: { action: "change->upload#submit"} %>
              <%= form.submit "Upload", class: "d-none", data: { upload_target: "submit"} %>
            </span>
          <% end %>
        </div>

        <%= turbo_stream_from "edit_images_stream" %>
        <%= render "carousel", { item: @item } %>
      </div>
    </div>
  </div>
<% end %>

