<div class="<%= @field.bootstrap_col %> mb-3">
  <label class="form-label" for="item_data_<%= @field.key %>"><%= @field.title %></label>
  <%= text_field_tag "item[data][#{@field.key}]",
                     @item.data[@field.key],
                     data: {action: "input->autosave#submit"},
                     class: "form-control" %>
  <div class="invalid-feedback" id="item_data_<%= @field.key %>_feedback"></div>
</div>

