<%= content_for :no_sidebar, true %>
<%= content_for :body_class, 'bg-light text-center' %>

<main class="devise">
  <h1 class="h3 mb-3 fw-normal">Forgot your password?</h1>

  <% flash.each do |_type, msg| %>
    <div class="alert alert-danger" role="alert"><%= msg %></div>
  <% end %>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, data: { turbo: false }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-floating mb-1">
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control rounded' %>
      <%= f.label :email %>
    </div>

    <div class="actions">
      <%= f.submit 'Reset Password', class: 'w-100 btn btn-lg btn-primary mt-3' %>
    </div>
  <% end %>

  <div class="mt-3">
    <%= render "devise/shared/links" %>
  </div>
</main>


