<%= turbo_stream_from "view_dropdown_stream" %>

<div id="view_dropdown" data-controller="rename-view">
  <div class="dropdown" data-rename-view-target="dropdown">
    <button type="button" class="btn btn-link btn-sm shadow-none d-flex align-items-center ms-1 dropdown-toggle" id="viewDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-file-spreadsheet"></i><span class="ms-1"><%= view.title %></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="viewDropdownMenu">
      <li>
        <%= link_to duplicate_editor_view_path(view), data: { turbo_method: :post }, class: "dropdown-item" do %>
          <i class="bi bi-layers-half me-2"></i>Duplicate View
        <% end %>
      </li>
      <li>
        <%= button_tag data: { action: "click->rename-view#show" }, class: "dropdown-item" do %>
          <i class="bi bi-pencil me-2"></i>Rename View
        <% end %>
      </li>
      <% unless view.default %>
        <li>
          <%= button_tag class: "dropdown-item",
                         data: {
                           controller: "set-default",
                           action: "click->set-default#set",
                           set_default_update_path_value: editor_view_path(view),
                         } do %>
            <i class="bi bi-award me-2"></i>Set as Default View
          <% end %>
        </li>
        <li>
          <%= button_to editor_view_path(view), form: { data: { turbo_confirm: "Are you sure?" } }, class: "btn btn-link text-danger dropdown-item", method: :delete do %>
            <i class="bi bi-trash me-2"></i>Delete View
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div data-rename-view-target="container" class="d-none">
    <form action="#" data-action="rename-view#submit">
    <%= text_field_tag :title,
                       view.title,
                       class: "form-control form-control-sm",
                       data: {
                         rename_view_target: "input",
                         rename_view_update_path_value: editor_view_path(view)
                       } %>
    </form>
  </div>
</div>
