<% position ||= filter.position %>
<%= form.fields_for :filters, filter do |filter_fields| %>
  <li class="list-group-item border-0 text-nowrap">
    <div class="row">
      <%= filter_fields.hidden_field :position,
                                   name: "view[filters][#{position}][position]",
                                   data: { filters_target: "position" },
                                   value: position %>
      <div class="col-2 d-flex align-items-center">
        <i class="bi bi-grip-vertical me-2 text-muted handle"></i>
        <span data-filters-target="label">
        <% if position == 1 %>
          Filter by
        <% else %>
          then by
        <% end %>
        </span>
      </div>
      <div class="col-9 d-flex align-items-center">
        <div class="input-group">
          <%= filter_fields.select :field_id,
                                   Field.all.collect { |field| [field.title, field.id] },
                                   {},
                                   {
                                     data: { filters_target: "fieldSelect", action: "filters#changeField" },
                                     class: "form-select form-select-sm",
                                     name: "view[filters][#{position}][field_id]",
                                     id: "view_filters_#{position}_field_id"
                                   } %>
          <%= filter_fields.select :operator,
                                   Filter::STRING_OPS.collect { |op| [op, op] },
                                   {},
                                   {
                                     data: { filters_target: "operatorSelect" },
                                     class: "form-select form-select-sm",
                                     name: "view[filters][#{position}][operator]",
                                     id: "view_filters_#{position}_operator"
                                   } %>
          <%= filter_fields.text_field :value, class: "form-control form-control-sm", placeholder: "Enter a value" %>
        </div>
      </div>
      <div class="col-1 d-flex align-items-center">
        <a href="#" data-action="click->filters#delete" class="muted-link ms-2" id="delete-sort"><i class="bi bi-trash"></i></a>
      </div>
    </div>
  </li>
<% end %>
