<div class="dropdown">
  <button type="button" class="btn btn-link shadow-none dropdown-toggle" role="button" id="filter-dropdown-button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
    <i class="bi bi-filter me-2"></i><span class="d-none d-sm-inline">Filter</span>
  </button>

  <div class="dropdown-menu"
       aria-labelledby="filter-dropdown-button"
       data-controller="filters"
       data-filters-first-label-value="Filter by">
    <div class="py-2 px-3" style="min-width: 600px;">
      <div class="<%= class_names("text-muted", "d-none": @view.filters.present?) %>" data-filters-target="emptyMessage">
        No filters applied to this view.
      </div>
      <%= form_for(view, url: filters_editor_view_path(view), method: :post) do |form| %>
        <ul class="list-group" data-filters-target="ul">
          <%= render partial: "editor/views/filter", collection: @view.filters, as: :filter, locals: { form: form } %>
        </ul>

        <div class="row mt-3">
          <div class="col">
            <%= select_tag "pick_another_field",
                           options_from_collection_for_select(Field.all, "id", "title"),
                           {
                             prompt: "Pick another field to filter by",
                             data: { filters_target: "fieldSelect", action: "filters#addNew" },
                             class: "form-select form-select-sm",
                           } %>
          </div>
          <div class="col text-end">
            <%= link_to "Cancel", editor_view_path(view), class: "btn btn-link text-muted" %>
            <%= form.submit "Apply", class: "btn btn-primary btm-sm" %>
          </div>
        </div>
      <% end %>

      <%= form_for(view, url: filters_editor_view_path(view), method: :post) do |form| %>
        <template data-filters-target="newTemplate">
          <%= render partial: "editor/views/filter",
                     locals: { filter: Filter.new(field_id: Field.first.id, operator: "is", value: ""), form: form, position: "{{position}}" } %>
        </template>
      <% end %>
    </div>
  </div>
</div>
