<% position ||= sort.position %>
<%= form.fields_for :sorts, sort do |sort_fields| %>
  <li class="list-group-item border-0 text-nowrap">
    <div class="row">
      <%= sort_fields.hidden_field :position,
                                   name: "view[sorts][#{position}][position]",
                                   data: { sorts_target: "position" },
                                   value: position %>
      <div class="col-2 d-flex align-items-center">
        <i class="bi bi-grip-vertical me-2 text-muted handle"></i>
        <span data-sorts-target="label">
        <% if position == 1 %>
          Sort by
        <% else %>
          then by
        <% end %>
        </span>
      </div>
      <div class="col-4 d-flex align-items-center">
          <%= sort_fields.select :field_id,
                                 Field.all_cached.collect { |field| [field.title, field.id] },
                                 {},
                                 {
                                   data: { sorts_target: "fieldSelect", action: "sorts#changeField" },
                                   class: "form-select form-select-sm",
                                   name: "view[sorts][#{position}][field_id]",
                                   id: "view_sorts_#{position}_field_id"
                                 } %>
      </div>
      <div class="col-1 d-flex align-items-center">from</div>
      <div class="col-4 d-flex align-items-center">
        <div class="form-check form-check-inline mb-0">
          <%= sort_fields.radio_button :direction,
                                       "ASC",
                                       class: "form-check-input",
                                       autocomplete: "off",
                                       name: "view[sorts][#{position}][direction]",
                                       id: "view_sorts_direction_#{position}_asc" %>
          <%= sort_fields.label :direction,
                                class: "form-check-label font-monospace",
                                value: "#{position}_asc",
                                id: "label_#{position}_asc" do %>
            A <i class="bi bi-arrow-right"></i> Z
          <% end %>
        </div>
        <div class="form-check form-check-inline mb-0">
          <%= sort_fields.radio_button :direction,
                                       "DESC",
                                       class: "form-check-input",
                                       autocomplete: "off",
                                       data: { sorts_target: "directionDesc" },
                                       name: "view[sorts][#{position}][direction]",
                                       id: "view_sorts_direction_#{position}_desc" %>
          <%= sort_fields.label :direction,
                                class: "form-check-label font-monospace",
                                value: "#{position}_desc",
                                id: "label_#{position}_desc" do %>
            Z <i class="bi bi-arrow-right"></i> A
          <% end %>
        </div>
      </div>
      <div class="col-1 d-flex align-items-center">
        <a href="#" data-action="click->sorts#delete" class="muted-link ms-2" id="delete-sort"><i class="bi bi-trash"></i></a>
      </div>
    </div>
  </li>
<% end %>
