<div class="row border-bottom border-2">
  <div class="col d-flex align-items-center p-2">
    <button type="button" class="btn btn-link me-2 shadow-none" data-sidebar-target="hideButton" data-action="sidebar#toggle">
      <i class="bi bi-layout-sidebar-inset me-2"></i>Sidebar
    </button>

    <button type="button" class="btn btn-link me-2 shadow-none d-none" data-sidebar-target="showButton" data-action="sidebar#toggle">
      <i class="bi bi-layout-sidebar-inset-reverse me-2"></i>Sidebar
    </button>

    <%= render "editor/views/actions", view: @view %>
    <%= render Sort::DropdownComponent.new(view: @view) %>
    <%= render Filter::DropdownComponent.new(view: @view) %>
  </div>

  <div class="col-4 col-lg-3 d-flex align-items-center p-2">
    <%= form_tag editor_view_path(@view),
                 method: :get,
                 class: "input-group border rounded bg-light",
                 data: {controller: "editor-search"} do |_form| %>
      <%= text_field_tag "q",
                         params[:q],
                         class: "form-control form-control-sm bg-light no-focus-shadow border-0",
                         data: {editor_search_target: "input"},
                         placeholder: "Search..." %>
      <%= button_tag type: "button",
                     class: "btn btn-link text-muted hover-primary no-focus-shadow p-0 pe-2",
                     data: {action: "click->editor-search#clear"} do %>
        <i class="bi bi-x-circle"></i>
      <% end %>
    <% end %>
  </div>
</div>
