<%= turbo_frame_tag "sort_uuid_#{@sort.uuid}" do %>
  <div class="row sort-row mb-2" data-controller="autosave">
    <div class="col-2 d-flex align-items-center">
      <i class="bi bi-grip-vertical me-2 text-muted handle"></i>
      <small class="text-nowrap"
             data-controller="label"
             data-label-first-value="Sort by"
             data-label-nth-value="then"
             data-label-container-id-value="sorts">
        <% if @sort.position == 1 %>
          Sort by
        <% else %>
          then by
        <% end %>
      </small>
    </div>
    <div class="col-10 d-flex align-items-center">
      <%= form_for form_for_args, data: {autosave_target: "form"}, html: {class: "w-100"} do |form| %>
        <%= form.hidden_field :view_id, value: @view.id %>
        <%= form.hidden_field :uuid %>
        <%= form.hidden_field :position %>

        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <%= form.select :field_id,
                            Field.all_cached.collect { |field| [field.title, field.id] },
                            {prompt: "Choose a field"},
                            {
                              data: {action: "autosave#submit"},
                              class: "form-select form-select-sm",
                            } %>
          </div>
          <div class="col-1 d-flex justify-content-center align-items-center">
            <div><small>from</small></div>
          </div>
          <div class="col-5 d-flex align-items-center">
            <div class="btn-group w-100" role="group" aria-label="Choose a sort direction">
              <%= form.radio_button :direction,
                                    "ASC",
                                    id: "sort_direction_asc_#{@sort.uuid}",
                                    class: "btn-check",
                                    data: {action: "autosave#submit"},
                                    autocomplete: "off" %>
              <%= label_tag :direction, class: "btn btn-sm btn-outline-secondary text-monospace", for: "sort_direction_asc_#{@sort.uuid}" do %>
                <% if @sort.field.present? && @sort.field.numeric? %>
                  1 <i class="bi bi-arrow-right"></i> 9
                <% else %>
                  A <i class="bi bi-arrow-right"></i> Z
                <% end %>
              <% end %>
              <%= form.radio_button :direction,
                                    "DESC",
                                    id: "sort_direction_desc_#{@sort.uuid}",
                                    class: "btn-check",
                                    data: {action: "autosave#submit"},
                                    autocomplete: "off" %>
              <%= label_tag :direction, class: "btn btn-sm btn-outline-secondary text-monospace", for: "sort_direction_desc_#{@sort.uuid}" do %>
                <% if @sort.field.present? && @sort.field.numeric? %>
                  9 <i class="bi bi-arrow-right"></i> 1
                <% else %>
                  Z <i class="bi bi-arrow-right"></i> A
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <%= button_to destroy_by_uuid_editor_view_sorts_path(view_id: @view.id, sort: {uuid: @sort.uuid}),
                    method: :delete,
                    class: "btn btn-sm btn-link muted-link shadow-none",
                    data: {turbo_frame: "sort_operations"} do %>
        <i class="bi bi-trash"></i>
      <% end %>
    </div>
  </div>
<% end %>
