<%= turbo_stream_from "items_list_stream" %>

<div class="container-list mt-3">
  <div class="row">
    <div class="col d-flex flex-column py-0">
      <div class="list" data-controller="list maximize-height" data-action="resize@window->maximize-height#style" data-maximize-height-margin-bottom-value="10">
        <div class="list-table-wrapper" data-maximize-height-target="wrapper">
          <table class="list-table">
            <thead>
            <tr>
              <th class="list-index-col"></th>
              <% View.default.fields.published.each do |field| %>
                <th data-list-target="colHeader" id="<%= dom_id(field) %>">
                  <div class="list-col-title"><%= field.title %></div>
                </th>
              <% end %>
            </tr>
            </thead>
            <tbody id="items_list">
            <%= render partial: "items/list/items", locals: { items: items, pagy: pagy } %>
            </tbody>
          </table>
        </div>
        <div data-maximize-height-target="footer" class="list-footer d-flex align-items-center">
          <%= turbo_frame_tag "page_handler" %>
          <%= render "items/list/load_more_button", pagy: pagy, tab: "list" %>
          <%= turbo_frame_tag "list_spinner" do %>
            <%= render "items/list/spinner" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

