<div class="list" data-controller="list" data-action="resize@window->list#maxHeight" data-list-padding-bottom-value="<%= controller_name == "views" ? "0" : "12" %>">
  <div data-list-target="wrapper" class="<%= class_names("list-table-wrapper", "no-border": controller_name == "views") %>">
    <%= turbo_stream_from "list_items_turbo" %>
    <table class="list-table">
      <thead>
      <tr>
        <th class="list-index-col"></th>
        <% if controller_name == "views" %>
          <th class="list-edit-col"></th>
        <% end %>
        <% View.default.fields.published.each do |field| %>
          <th data-list-target="colHeader" id="<%= dom_id(field) %>">
            <div class="list-col-title"><%= field.title %></div>
          </th>
        <% end %>
      </tr>
      </thead>
      <tbody id="list-items">
      <%= render partial: "items/list/items", locals: { items: items, pagy: pagy } %>
      </tbody>
    </table>
  </div>
  <div data-list-target="footer" class="<%= class_names("list-footer", "d-flex", "align-items-center", "no-border": controller_name == "views") %>">
    <%= turbo_frame_tag "page_handler" %>
    <%= render "items/list/load_more_button", pagy: pagy, tab: "list" %>
    <%= turbo_frame_tag "list_spinner" do %>
      <%= render "items/list/spinner" %>
    <% end %>
  </div>
</div>