<%= turbo_stream_from "list_items_turbo" %>

<div class="container-list mt-3">
  <div class="row">
    <div class="col d-flex flex-column h-100 py-0 overflow-hidden" style="height: 400px;">
      <div class="list" data-controller="list" data-action="resize@window->list#maxHeight" data-list-padding-bottom-value="12">
        <div data-list-target="wrapper" class="list-table-wrapper">
          <table class="list-table">
            <thead>
            <tr>
              <th class="list-index-col"></th>
              <% View.default.fields.published.each do |field| %>
                <th data-list-target="colHeader" id="<%= dom_id(field) %>">
                  <div class="list-col-title"><%= field.title %></div>
                </th>
              <% end %>
            </tr>
            </thead>
            <tbody id="list-items">
            <%= render partial: "items/list/items", locals: { items: items, pagy: pagy } %>
            </tbody>
          </table>
        </div>
        <div data-list-target="footer" class="list-footer d-flex align-items-center no-border">
          <%= turbo_frame_tag "page_handler" %>
          <%= render "items/list/load_more_button", pagy: pagy, tab: "list" %>
          <%= turbo_frame_tag "list_spinner" do %>
            <%= render "items/list/spinner" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>