<% Field.published_with_data(@item).each.with_index(1) do |field, index| %>
  <% next if @except.include?(field.key) %>

  <% if field.key == "set_title" && link_to_sets? %>
    <label class="text-muted"><small><%= field.title %></small></label>
    <p><%= render Set::LinkComponent.new(item_set: @item.item_set) %></p>
  <% elsif field.short_label?(@item) %>
    <p class="mb-2">
      <label class="item-short-label text-muted me-1"><small><%= field.title %></small></label>
      <%= field.data_for_display(@item) %>
    </p>
  <% else %>
    <label class="text-muted"><small><%= field.title %></small></label>
    <p>
      <% value = field.data_for_display(@item) %>
      <%= @truncate_values ? value.truncate(@truncate_values) : value %>
    </p>
  <% end %>

  <% if field.divider && divider? %>
    <hr class="my-3">
  <% end %>

  <% break if @limit && index >= @limit %>
<% end %>

