<p>
  <small class="text-uppercase text-muted"><%= title %></small>
</p>
<p>
  <% if multiple_select? %>
    <%= render MultipleSelectComponent.with_collection(removed, removed: true) %>
    <%= render MultipleSelectComponent.with_collection(added, added: true) %>
  <% elsif set_changed? %>
    <span class="bg-light p-2 bg-opacity-50 rounded">
      <%= link_to to, data:{turbo_frame: "_top"} do %>
        <i class="bi bi-box-arrow-up-left"></i>
        <%= to.title %>
      <% end %>
    </span>
  <% elsif checkbox? %>
    <span class="bg-success p-2 bg-opacity-50 rounded">
    <% if to == true %>
      <i class="bi bi-check-square"></i>
    <% elsif to == false %>
      <i class="bi bi-x-square"></i>
    <% end %>
    </span>
  <% else %>
    <% if from.present? %>
      <s class="bg-danger p-2 bg-opacity-25 rounded"><%= from %></s>
    <% end %>
    <% if to.present? %>
      <span class="bg-success p-2 bg-opacity-50 rounded"><%= to %></span>
    <% end %>
  <% end %>
</p>

