<%= link_to item do %>
  <%= image_tag url_for(first_image.file.variant(:medium)),
                srcset: srcset(first_image, :medium_retina, :medium),
                sizes: "#{first_image.width(:medium)}px",
                width: first_image.width(:medium),
                height: first_image.height(:medium),
                loading: "lazy",
                class: "border" %>
<% end %>

<ul class="list-group list-group-horizontal mt-2">
  <% total_images = item.images.length %>
  <% item.images.each.with_index(1) do |image, index| %>
    <li class="list-group-item p-2">
      <%= link_to picture_item_path(item, image.position) do %>
        <%= image_tag url_for(image.file.variant(:micro)),
                      srcset: srcset(image, :micro_retina, :micro),
                      sizes: "#{image.width(:micro)}px",
                      width: image.width(:micro),
                      height: image.height(:micro),
                      loading: "lazy",
                      class: class_names("border": true, "border-dark": image == first_image) %>
      <% end %>
    </li>
    <% if total_images > 4 && index == 3 %>
      <li class="list-group-item p-2">
        <span class="badge bg-light text-dark">+ <%= total_images - index %></span>
      </li>
      <% break %>
    <% end %>
  <% end %>
</ul>