<div class="card mb-3">
  <div class="card-header px-3 py-2">
    <div class="row">
      <div class="col"><small>Card</small></div>
      <div class="col text-end">
        <% metadata = position_metadata(item) %>
        <% if metadata[:prev].present? %>
          <%= link_to item_path(metadata[:prev]), class: "pe-1 align-middle" do %>
            <i class="bi bi-arrow-left-square"></i>
          <% end %>
        <% end %>

        <span class="font-monospace align-middle"><small><%= metadata[:current] %>/<%= metadata[:total] %></small></span>

        <% if metadata[:next].present? %>
          <%= link_to item_path(metadata[:next]), class: "ps-1 align-middle" do %>
            <i class="bi bi-arrow-right-square"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= render Item::FieldsComponent.new(item: item, divider: true) %>
  </div>
</div>
