<div class="splide"
     data-controller="carousel"
     data-carousel-max-width-value="<%= max_width %>"
     data-carousel-position-value="<%= position %>">
  <div class="splide__arrows splide__arrows--ltr">
    <button
      class="splide__arrow splide__arrow--prev"
      type="button"
      aria-label="Previous slide"
      aria-controls="splide01-track">
      <%= render "svgs/bi-chevron-right" %>
    </button>
    <button
      class="splide__arrow splide__arrow--next"
      type="button"
      aria-label="Next slide"
      aria-controls="splide01-track">
      <%= render "svgs/bi-chevron-right" %>
    </button>
  </div>

  <div class="splide__track">
    <ul class="splide__list">
      <% item.images.with_attached_file.each do |image| %>
        <li class="splide__slide">
          <%= link_to picture_item_path(item, image.position) do %>
            <%= image_tag url_for(image.file.variant(:small)),
                          srcset: srcset(image, :small_retina, :small),
                          sizes: "#{image.width(:small)}px",
                          width: image.width(:small),
                          height: image.height(:small),
                          class: class_names("border": true, "border-secondary": featured_image == image),
                          data: {"carousel-target": "thumb"} %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
