<% Field.published_with_data(item).each.with_index(1) do |field, index| %>
  <% next if local_variables.include?(:except) && except.include?(field.key) %>
  <% if field.short_label?(item) && !local_variables.include?(:limit) %>
    <p class="mb-2">
      <label class="item-short-label text-muted me-1"><small><%= field.title %></small></label>
      <% if field.key == "set_title" %>
        <%= render("items/set_link", item_set: item.item_set) %>
      <% else %>
        <%= field.data_for_display(item) %>
      <% end %>
    </p>
  <% else %>
    <% value = field.data_for_display(item) %>
    <label class="text-muted"><small><%= field.title %></small></label>
    <p>
      <% if field.key == "set_title" && controller_name != "item_sets"%>
        <%= render("items/set_link", item_set: item.item_set) %>
      <% else %>
        <%= local_variables.include?(:max_chars) ? value.truncate(max_chars) : value %>
      <% end %>
    </p>
  <% end %>
  <% if field.divider && controller_name == "items" && (action_name == "show" || action_name == "edit") %>
    <hr class="my-3">
  <% end %>

  <% break if local_variables.include?(:limit) && index >= limit %>
<% end %>