<style>
  .card-item-horizontal {
    min-width: <%= featured_image.width(:large) %>px;
    width: <%= featured_image.width(:large) %>px;
  }

  @media (max-width: <%= featured_image.width(:large) %>px) {
    .card-item-horizontal {
      width: 100%;
      min-width: 100%;
    }
  }

  .item-sidebar {
    width: <%= featured_image.width(:large) %>px;
    max-width: 100%;
  }

  @media (min-width: <%= featured_image.width(:large) + 450 %>px) {
    .item-sidebar {
      width: 350px;
    }
  }
</style>

<div class="container">
  <h1 class="text-center mt-1 pb-3"><%= item.title %></h1>
</div>

<div class="container-fluid">
  <div class="row justify-content-center g-3">
    <div class="col-auto">
      <div class="card card-item-horizontal">
        <%= image_tag featured_image.file.variant(:large).url,
                      srcset: featured_image.srcset(:large_retina, :large, :medium_retina, :medium),
                      sizes: "#{featured_image.width(:large)}px",
                      width: featured_image.width(:large),
                      height: featured_image.height(:large),
                      class: "card-img-top img-fluid",
                      loading: "lazy",
                      alt: "Image #{position}" %>
        <div class="card-body p-1">
          <%= render "splide", { item: item,
                                 featured_image: featured_image,
                                 max_width: featured_image.width(:large),
                                 position: position } %>
        </div>
      </div>
    </div>

    <div class="col-auto">
      <div class="item-sidebar">
        <div class="card mb-3">
          <div class="card-header px-3 border-bottom-0">
            <div class="row">
              <div class="col">
                <div data-controller="lightbox" data-lightbox-position-value="<%= position - 1 %>">
                  <% item.images.each do |image| %>
                    <a data-lightbox-target="url" data-fslightbox="lightbox_for_<%= item.id %>" href="<%= image.file.url %>"></a>
                  <% end %>

                  <a href="javascript:void(0);" data-action="click->lightbox#open" class="d-flex align-items-center">
                    <%= render "svgs/bi-arrows-fullscreen" %>
                    <span class="ms-2"><small>Enlarge Image</small></span>
                  </a>
                </div>
              </div>
              <div class="col">
                <a href="javascript:void(0);"
                   id="copy-link"
                   class="d-flex align-items-center justify-content-end"
                   data-clipboard-text="<%= request.original_url %>"
                   data-bs-original-title="Copy to Clipboard"
                   data-controller="clipboard">
                  <%= render "svgs/bi-link-45deg" %>
                  <span class="ms-1"><small>Share</small></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <%= render "card", item: item %>
      </div>
    </div>
  </div>
</div>
