<div class="col-auto" id="<%= dom_id(item) %>">
  <div class="card card-medium mb-3">
    <div class="card-header text-truncate">
      <div class="row">
        <div class="col text-truncate">
          <%= link_to item do %>
            <%= render "svgs/bi-box-arrow-up-left" %>
            <span class="p-0 ms-2"><%= item.title %></span>
          <% end %>
        </div>
        <div class="col-auto text-right">
          <span class="p-0"><%= item.data["number"] %></span>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-auto pe-0">
          <% if item.images.present? %>
            <%= link_to item do %>
              <% image = item.images.with_attached_file.first %>
              <%= image_tag image.variant(:medium).processed.url, srcset: image.srcset(:medium_retina, :medium), sizes: "#{image.width(:medium)}px", class: "border" %>
            <% end %>
          <% end %>
        </div>
        <div class="col">
          <label class="text-muted"><small>Set Title</small></label>
          <p>COTTAGE GARDENS</p>
          <label class="text-muted"><small>Set Comment</small></label>
          <p>OILETTE, COPYRIGHT LONDON, PRINTED IN ENGLAND, 4 backs, come oilfacsim but not so trade named</p>
        </div>
      </div>
    </div>
  </div>
</div>