<%= content_for :no_footer, true %>
<%= content_for :title, search_title(query: params[:q]) %>
<%= content_for :container_class, "container-#{tab}" %>

<div class="container-<%= tab %>">
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to url_for(only_path: false, q: params[:q], page: pagy.page, tab: "images"), class: class_names("nav-link": true, "active": tab == "images") do %>
            <i class="bi bi-grid me-1"></i>Images
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to url_for(only_path: false, q: params[:q], page: pagy.page, tab: "list"), class: class_names("nav-link": true, "active": tab == "list") do %>
            <i class="bi bi-list me-1"></i>List
          <% end %>
        </li>
        <li class="nav-item pt-2 ms-auto">
          <span class="text-muted"><%= search_count(count: pagy.count, query: params[:q]) %></span>
        </li>
      </ul>
    </div>
  </div>
</div>

<% if items.empty? %>
  <%= render "items/no_results", tab: tab %>
<% elsif tab == "list" %>
  <%= render "items/list/container", items: items, pagy: pagy %>
<% else %>
  <%= render "items/images/container", items: items, pagy: pagy %>
<% end %>
