<%= content_for :no_footer, true %>
<%= content_for :title, search_title(query: params[:q]) %>
<%= content_for :container_class, "container-#{@tab}" %>

<div class="container-<%= @tab %>">
  <div class="row">
    <div class="col">
      <h1 class="text-center font-serif mb-3"><%= search_title(query: params[:q]) %></h1>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to items_path(q: params[:q], page: @pagy.page, tab: "medium"), class: class_names("nav-link": true, "active": @tab == "medium") do %>
            <%= render "svgs/bi-grid" %><span class="ms-1 d-none d-md-inline">Images</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to items_path(q: params[:q], page: @pagy.page, tab: "list"), class: class_names("nav-link": true, "active": @tab == "list") do %>
            <%= render "svgs/bi-list" %><span class="ms-1 d-none d-md-inline">List</span>
          <% end %>
        </li>
        <li class="nav-item pt-2 ms-auto">
          <span class="text-muted"><%= search_count(count: @pagy.count, query: params[:q]) %></span>
        </li>
      </ul>
    </div>
  </div>
</div>

<%= turbo_frame_tag "page_handler" %>

<div class="container-<%= @tab %>">
  <div class="row pt-3 gx-3" id="items">
    <% if @items.empty? %>
      <div class="col ms-3">
        <h4 class="mb-3">Your search did not match any item</h4>
        <p>Suggestions:</p>

        <ul>
          <li>Remove some words from search query</li>
          <li>Try different keywords</li>
          <li>Try more general keywords</li>
        </ul>
      </div>
    <% else %>
      <%= render partial: "#{@tab}_item", collection: @items, as: :item %>
    <% end %>
  </div>
  <div class="row">
    <div class="col text-center">
      <%= render "load_more", pagy: @pagy, tab: @tab %>
    </div>
  </div>
</div>