<%= content_for :no_footer, true %>
<%= content_for :title, search_title(query: params[:q]) %>
<%= content_for :container_class, "container-#{@tab}" %>

<div class="container-<%= @tab %>">
  <div class="row">
    <div class="col">
      <h1 class="text-center font-serif mt-1 mb-3"><%= search_title(query: params[:q]) %></h1>
    </div>
  </div>
</div>

<%= render View::PublishedTabsComponent.new(view: View.default, items: @items, tab: @tab, pagy: @pagy, query: params[:q]) %>
