<%= content_for :no_footer, true %>

<div class="container-medium">
  <div class="row">
    <div class="col">
      <h1 class="text-center font-serif mb-3">Postcards</h1>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="#"><%= render "svgs/bi-grid-3x3-gap" %><span class="ms-1 d-none d-sm-inline">Small</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"><%= render "svgs/bi-grid" %><span class="ms-1 d-none d-sm-inline">Medium</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><%= render "svgs/bi-list" %><span class="ms-1 d-none d-sm-inline">List</span></a>
        </li>

        <li class="nav-item pt-2 ms-auto">
          <span class="text-muted">All <%= @pagy.count %> cards</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<%= turbo_frame_tag "page_handler" %>

<div class="container-medium">
  <div class="row pt-3 gx-3" id="items">
    <%= render partial: "medium", collection: @items, as: :item %>
  </div>
  <div class="row">
    <div class="col text-center">
      <%= render "load_more", pagy: @pagy %>
    </div>
  </div>
</div>