<%= content_for :title, "Set: #{@item_set.title}" %>

<div class="container-<%= @tab %>">
  <div class="row">
    <div class="col">
      <% if @item_set.images.any? %>
        <%= render "covers" %>
      <% else %>
        <h1 class="text-center font-serif mt-1 mb-3">Set, <%= @item_set.title %></h1>
      <% end %>
    </div>
  </div>
</div>

<%= render View::PublishedTabsComponent.new(view: View.default, items: @items, tab: @tab, pagy: @pagy, query: params[:q]) %>

