<div class="col-auto" id="<%= dom_id(item) %>">
  <div class="card card-medium mb-3" <%= load_more_shim(item_iteration) %>>
    <div class="card-header text-truncate">
      <div class="row">
        <div class="col text-truncate">
          <%= link_to item do %>
            <%= render "svgs/bi-box-arrow-up-left" %>
            <span class="p-0 ms-2"><%= item.title %></span>
          <% end %>
        </div>
        <div class="col-auto text-right">
          <span class="p-0">
            <% Field.identifiers.each do |field| %>
              <%= item.data[field.key] %>
            <% end %>
          </span>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-auto pe-0">
          <% first_image = item.images.first %>
          <% if first_image.present? %>
            <% if first_image.horizontal? %>
              <%= render "items/search/horizontal_image", first_image: first_image, item: item %>
            <% else %>
              <%= render "items/search/vertical_image", first_image: first_image, item: item %>
            <% end %>
          <% end %>
        </div>
        <div class="col">
          <div class="pb-5 overflow-hidden" style="height: 250px;">
            <%= render "items/fields_data", item: item, except: %w(item_title prefix number in_set), limit: 4, max_chars: 32 %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>