<%= turbo_frame_tag "page_handler" %>

<div class="container-list">
  <div class="row">
    <div class="col d-flex flex-column h-100 pt-3">
      <div class="list-wrapper">
        <table class="list-table" data-controller="list">
          <thead>
          <tr>
            <% Field.published.each do |field| %>
              <th><div class="list-col-title"><%= field.title %></div></th>
            <% end %>
          </tr>
          </thead>
          <tbody id="append-items">
          <%= render partial: "items/search/list_item", collection: @items, as: :item %>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="<%= View.default.fields.length %>">
              <%= render "items/search/list_load_more", pagy: @pagy, tab: "list" %>
              Footer
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

