<div class="container-list">
  <div class="row">
    <div class="col d-flex flex-column h-100 pt-3" data-controller="list">
      <div class="list-wrapper">
        <table class="list-table">
          <thead>
          <tr>
            <% Field.published.each do |field| %>
              <th data-list-target="colHeader" id="<%= dom_id(field) %>">
                <div class="list-col-title"><%= field.title %></div>
              </th>
            <% end %>
          </tr>
          </thead>
          <tbody id="append-items">
          <%= render partial: "items/search/list_item", collection: items, as: :item %>
          </tbody>
        </table>
      </div>
      <div class="list-footer d-flex align-items-center">
        <%= render "items/search/list_load_more", pagy: pagy, tab: "list" %>
        <%= turbo_frame_tag "list_spinner" do %>
          <%= render "items/search/list_spinner" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

