<%= turbo_stream_from "editable_list_stream" %>

 <div class="list" data-controller="list maximize-height" data-action="resize@window->maximize-height#style">
    <div class="list-table-wrapper no-border" data-maximize-height-target="wrapper">
      <table class="list-table">
        <thead>
        <tr>
          <th class="list-index-col"></th>
          <th class="list-edit-col"></th>
          <% Field.all_cached.each do |field| %>
            <th data-list-target="colHeader" id="<%= dom_id(field) %>">
              <div class="list-col-title"><%= field.title %></div>
            </th>
          <% end %>
        </tr>
        </thead>
        <tbody id="editable_list">
        <%= render partial: "editor/items/editable_list/items", locals: { items: items, pagy: pagy } %>
        </tbody>
      </table>
    </div>
    <div data-maximize-height-target="footer" class="list-footer d-flex align-items-center no-border">
      <%= turbo_frame_tag "page_handler" %>
      <%= render "items/list/load_more_button", pagy: pagy, tab: "list" %>
      <%= turbo_frame_tag "list_spinner" do %>
        <%= render "items/list/spinner" %>
      <% end %>
    </div>
 </div>
