<tr id="<%= dom_id(item) %>" data-list-target="tr" data-controller="<% if load_more %>load-more<% end %>">
  <td class="list-index-col"><small class="text-muted" data-list-target="number" data-list-id-value="<%= dom_id(item) %>"><%= number %></small></td>

  <td class="list-edit-col">
    <%= button_tag class: "btn btn-link no-box-shadow p-0 m-0 mt-1px d-flex align-items-center",
                   title: "Edit Item",
                   data: {
                     controller: "edit-button",
                     action: "click->edit-button#open",
                     edit_button_url_param: edit_editor_item_path(item.id)
                   } do %>
      <i class="bi bi-pencil-square"></i>
    <% end %>
  </td>

  <% Field.all.each do |field| %>
    <td class="<%= class_names("list-images-col": field.images?) %>">
      <% if field.images? %>
        <%= render "items/list/carousel", item: item %>
      <% elsif field.checkbox? %>
        <%= check_box_tag(field.key, 1, item.data[field.key]) %>
      <% elsif field.multiple_select? && item.data[field.key].present? %>
        <% item.data[field.key].each do |text| %>
          <span class="badge rounded-pill bg-<%= MultipleSelect.color(text) %>-100 text-dark fw-normal fs-6"><%= text %></span>
        <% end %>
      <% else %>
        <%= item.data[field.key] %>
      <% end %>
    </td>
  <% end %>
</tr>
