<div class="container-fluid bg-primary bg-gradient">
  <header class="navbar p-1">
    <div class="nav col-3">
      <%= link_to editor_root_path, class: "text-white" do %>
        <i class="bi-columns"></i><span class="ms-1 text-white">Editor</span>
      <% end %>
    </div>

    <div class="nav col-6 d-flex justify-content-center align-items-center text-white">
      <%= yield :title_svg %><span class="ms-2 text-white"><%= yield :title %></span>
    </div>

    <div class="nav col-3">
      <div class="dropdown ms-auto">
        <div class="btn-group">
          <button type="button" class="btn btn-link no-box-shadow dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <span class="d-inline-flex badge rounded-circle bg-light p-0 wh-32px">
              <span class="my-auto mx-auto text-dark"><%= current_user.name_initials %></span>
            </span>
          </button>
          <ul class="dropdown-menu dropdown-menu-start">
            <li><%= link_to('Logout', destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete }) %></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>
