<div id="sidebar"
     data-sidebar-target="container"
     class="<%= class_names("flex-column", "h-100", "border-end", "border-2", "p-3", "d-flex": current_user.sidebar_open?, "d-none": !current_user.sidebar_open?) %>">
  <%= render "editor/views/views" %>

  <p class="text-muted mb-2">Pages</p>
  <ul class="nav flex-column nav-pills mt-0">
    <% Page.all.each do |page| %>
      <li class="nav-item">
        <%= link_to edit_editor_page_path(page), class: class_names("nav-link": true, "active": @page == page), aria_current: "page" do %>
          <%= render "svgs/bi-file-earmark-richtext" %><span class="ms-2"><%= page.title %></span>
          <% if @page == page %>
            <span class="float-end"><%= render "svgs/bi-check" %></span>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
