<header class="border-bottom mb-3">
  <div class="<%= content_for(:container_class) || "container-header" %>">
    <nav class="navbar navbar-expand-md navbar-light bg-white">
      <a class="navbar-brand font-serif" href="/">Justin's Lilywhites</a>

      <ul class="navbar-nav ms-auto me-3 font-serif fs-6 d-none d-md-flex">
        <li class="navbar-item active">
          <%= link_to 'Cards', items_path(tab: params[:tab]), class: "nav-link" %>
        </li>

        <li class="navbar-item">
          <%= link_to "Places", "/places", class: "nav-link" %>
        </li>

        <li class="navbar-item">
          <%= link_to "Tags", "/tags", class: "nav-link" %>
        </li>
      </ul>

      <div class="dropdown d-inline-block d-md-none">
        <a class="dropdown-toggle font-serif fs-5" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Sections
        </a>
        <ul class="dropdown-menu me-3" aria-labelledby="navbarDropdownMenuLink">
          <li><%= link_to "Cards", "/cards", class: "dropdown-item" %></li>
          <li><%= link_to "Places", "/places", class: "dropdown-item" %></li>
          <li><%= link_to "Tags", "/tags", class: "dropdown-item" %></li>
        </ul>
      </div>

      <div id="search-box-container">
        <%= form_tag items_url, method: :get, class: "input-group border rounded bg-light", id: "search-box" do |_form| %>
          <%= text_field_tag "q", params[:q], class: "form-control bg-light border-0", id: "search-input", placeholder: "Search..." %>
          <%= hidden_field_tag "tab", params[:tab] if params[:tab].present? %>
          <button class="btn d-flex align-items-center p-0 pe-2" type="submit"><i class="bi bi-search"></i></button>
        <% end %>
      </div>
    </nav>
  </div>
</header>
