<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <title><%= yield :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>

  <body class="d-flex flex-column h-100">
  <%= render "layouts/header" %>
  <%= yield %>
  <%= render "layouts/footer" unless content_for?(:no_footer) %>
  <%= render "layouts/error_popup" %>
  </body>
</html>
