<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <title><%= yield :title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= yield :head %>
</head>

<body class="h-100 overflow-hidden">

<%= render "layouts/editor_header" %>

<div class="container-fluid d-flex flex-column vh-100" data-controller="sidebar">
  <%= render "layouts/editor_toolbar" %>

  <div class="row d-flex flex-fill justify-content-start">
    <div class="col-auto d-flex px-0">
      <%= render "layouts/editor_sidebar" %>
    </div>
    <div class="col d-flex flex-column p-0 overflow-hidden">
      <%= yield %>
    </div>
  </div>
</div>

<%= render "layouts/error_popup" %>
<%= render "layouts/adjust_image_modal" %>
</body>
</html>
