<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <title><%= yield :title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= yield :head %>
</head>

<body class="h-100">

<div class="container-fluid d-flex flex-column vh-100" data-controller="editor">
  <%= render "layouts/editor_header" %>

  <div class="row d-flex flex-fill justify-content-start">
    <div class="col-auto d-flex px-0">
      <div id="sidebar"
           data-editor-target="sidebar"
           class="<%= class_names("flex-column", "h-100", "border-end", "border-2", "p-3", "d-flex": current_user.settings["sidebar_open"], "d-none": !current_user.settings["sidebar_open"]) %>">
        <%= render "layouts/editor_sidebar" %>
      </div>
    </div>
    <%= yield %>
  </div>
</div>

<%= render "layouts/error_popup" %>
</body>
</html>
