<% content_for :title, @page.title %>
<% content_for :title_svg do %>
  <i class="bi-file-earmark-richtext"></i>
<% end %>

<div class="p-3">
  <%= form_with model: @page, url: editor_page_path(@page), data: { controller: "" } do |form| %>
    <div class="mb-3">
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>

    <div class="form-floating mb-3">
      <%= form.text_field :title, class: "form-control", id: "floatingInput" %>
      <%= form.label :title, for: "floatingInput" %>
    </div>

    <%= render "trix_toolbar" %>

    <%= form.rich_text_area :body, toolbar: "trix-toolbar", data: {
      controller: "page-editor maximize-height",
      action: "resize@window->maximize-height#style",
      "maximize-height-margin-bottom-value": "18"
    } %>
  <% end %>
</div>

