<% content_for(:title, "Editing Page: #{@page.title}") %>

<div class="col d-flex flex-column p-3 overflow-hidden">
  <%= form_with model: @page, url: editor_page_path(@page), data: { controller: "" } do |form| %>
    <div class="mb-3">
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>

    <div class="form-floating mb-3">
      <%= form.text_field :title, class: "form-control", id: "floatingInput" %>
      <%= form.label :title, for: "floatingInput" %>
    </div>


    <%= render "trix_toolbar" %>

    <%= form.rich_text_area :body, toolbar: "trix-toolbar", data: {
      controller: "page-editor",
      action: "resize@window->page-editor#maxHeight",
      "page-editor-padding-bottom-value": "18"
    } %>
  <% end %>
</div>
